
header  {
    width: auto;
    .walum  {
        height: auto;
        width: 90%;
    }
     
    .bg-black   {
    opacity: 0.8;
    }
    
    .navbar-nav li a  {
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: #3ec70b;
}
    .nav-link:hover {
    color: #bf7300;
    }
    
}
    .bg-black   {
      opacity: 0.8;
    }

    .navbar-toggler {
        background-color: #3ec70b;
        
    }