/* INICIO */

/* imagen fondo de pagina */
body    {
    margin: 0;
    padding: 0;
    background: url(./img/vista1.jpg);   
    background-size:cover;
    /* background-position: unset; */
    width: 100%;
    height: 100vh;
    }

/* logo de inicio */
.logo-inicio   {
  
    height: 299px;
    margin: -110px 0px 0px -10px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
/* menu */


nav {
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
padding: 15px 0px;
    
}

.navegacion {
    background-color: black;
    opacity: 0.8;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
   
}

.menu-inicio    {
color: #3ec70b;
padding: 0px;
margin: 0px 60px 0px 0px;

font-weight: bold;
text-decoration: none;
font-size: 90%;
height: 250px;

}

.menu-inicio:hover {
    color: #bf7300;
}


  

ul  {
    margin: -155px 0px 0px 320px;
}


/* portada */
.portada    {
    height: 360px;
    border-radius: 0.9em;
    box-shadow: 4px 4px 15px  #3ec70b ;
}

/* ubicacion */
iframe  {
    border-radius: 0.7em;
    box-shadow: 4px 4px 15px #3ec70b ;
    width: 96%;
    margin-left: 3%;
}


.centro-menu    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 55px 0px 55px 0px;
    
}

.visitanos  {
    color: #3ec70b;
    font-weight: bold;
    background-color: black;
    opacity: 0.8;
    padding: 0% 5% 0% 23%;
    width: 67%;
    margin-left: 3%;
    border: solid 0.1em #3ec70b;
    border-radius: 0.7em;
} 


.ancla-footer {color: #3ec70b;
    padding: 20px;
    margin: 0px 0px 0px 0px;
    
    font-family: sans-serif;
    text-decoration: none;
  
    

    }



.Telefono-footer    {
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: #3ec70b;
    font-family: sans-serif;
    margin: 0px 0px 0px 100px;
}

.copy   {
    color: #3ec70b;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
}

footer  {
    
    border-radius: 0.7em;
    background-color: black;
    opacity: 0.8;
    padding: 0px;

    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center ;
  
    

}


.ancla-footer :hover    {
    color: #bf7300;
}



/* DISEÑOS */

.abertura  {
    width: 320px;
    height: 230px;
    border-radius: 0.3em;
    box-shadow: 5px 5px 15px #3ec70b
    
}
.abertura {
   
    cursor:pointer;
    position: relative;
}


.casillero-1    {
    transition: all 0.3s ;
    position: relative;
    
}
.casillero-1:hover  {
    transform: scale(1.2, 1.2);
}

.ab  {
    font-size: 1.9rem;
    color:   #3ec70b;
    position:absolute;
    font-weight: bold;
    -webkit-text-stroke: 0.5px   #000000;
}
.ab {
    top: 20%; 
    left: 3%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1) ;
}


.interior   {
    width: 320px;
    height: 230px;
    border-radius: 0.3em;
    box-shadow: 5px 5px 15px #3ec70b
}


.interior {
   
    cursor:pointer;
    position: relative;
}


.casillero-3  {
    transition: all 0.3s ;
    position: relative;
    
}
.casillero-3:hover  {
    transform: scale(1.2, 1.2);
}

.in  {
    font-size: 1.9rem;
    color: #3ec70b;
    position:absolute;
    font-weight: bold;
    -webkit-text-stroke: 0.5px   #000000;
}
.in {
    top: 20%; 
    left: 3%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.vista  {
    /* height: 250px; */
    width: 437px;
    height: 230px;
    border-radius: 0.3em;
    box-shadow: 5px 5px 15px #3ec70b
}


.vista {
    
    cursor:pointer;
    position: relative;
}


.casillero-2  {
    transition: all 0.3s ;
    position: relative;
    
}
.casillero-2:hover  {
    transform: scale(1.2, 1.2);
}

.vi  {
    font-size: 1.9rem;
    color: #3ec70b;
    position:absolute;
    font-weight: bold;
    -webkit-text-stroke: 0.5px   #000000;
}
.vi {
    top: 20%; 
    left: 30%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}


.casas  {
    width: 437px;
    height: 230px;
    border-radius: 0.3em;
    box-shadow: 5px 5px 15px #3ec70b;
    
}


.casas {
   
    cursor:pointer;
    position: relative;
}


.casillero-4 {
    transition: all 0.3s ;
    position: relative;
    
}
.casillero-4:hover  {
    transform: scale(1.2, 1.2);
}

.ca  {
    font-size: 1.9rem;
    color: #3ec70b;
    position:absolute;
    font-weight: bold; 
    -webkit-text-stroke: 0.5px   #000000;
}
.ca {
    top: 20%; 
    left: 30%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}


.obras  {
    height: 550px;
    width: 170px;
    border-radius: 0.5em;
    box-shadow: 5px 5px 15px #3ec70b;
    margin-top: 10%;
    margin-bottom: 10%;
}

.obras {
   
    cursor:pointer;
    position: relative;
}


.casillero-5   {
    transition: all 0.3s ;
    position: relative;
  
}
.casillero-5:hover  {
    transform: scale(1.1, 1.1);
}

.ob  {
    font-size: 1.7rem;
    color: #3ec70b;
    position:absolute;
    font-weight: bold;
    -webkit-text-stroke: 0.5px   #000000;
  
}
.ob {
    bottom: 45%; 
    right: 65%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}


.grid-casilleros   {

    max-width: 900px;
    margin: 0px 50px;
    grid-row-gap: 25px;
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -3%;
    align-items: start ;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 47.7% 47.7%;
    margin-left: 50px;
}

.footer-grid    {
    margin-bottom: 0.5%;
}

.grid-diseños   {
    display: grid;
    grid-template-areas: "menu menu menu"
                         "diseños diseños obras"
                         "diseños diseños obras"
                         "footer footer footer";
                         grid-template-rows: 13% 50% 48% 10% ;
                         grid-template-columns: 80% 0%;                  
}

.header-grid    {
    grid-area: menu;
}

.grid-casilleros    {
    grid-area: diseños;
}

.grid-obras {
    grid-area: obras;
}

.footer-grid    {
    grid-area: footer;
}
.bur   {
    display: none;
}
.bur-input  {
    display: none;
}

/* PRESUPUESTOS */

.flex-contain-presup    {
    height: 407px;
    width: 400px;
    margin: 0% 0% 1% 34%;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    
    border: solid 0.1em #3ec70b;
    border-radius: 0.7em;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo-presupuestos   {
    background-color: black;
    opacity: 0.8;
    width: 400px;
    color: #3ec70b;
    margin: -1% 0% -0.4% 34%;

    border: solid 0.1em #3ec70b;
    border-radius: 0.7em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-form {
    color: #3ec70b;
    background-color: black;
}

.boton-adjuntar {
    color: #3ec70b;
    background-color: black;
}

/* formulacios-nombres */
.text-form-presup    {
    color: #3ec70b;
    font-family: sans-serif;
}

/* formularios-recuadro */
input {
    background-color: rgb(0, 0, 0);
    color: #3ec70b;
    opacity: 0.8;
    border: solid 0.2em  #3ec70b;
    border-radius: 0.5em;
}
select  {
    background-color: rgb(0, 0, 0);
    color: #3ec70b;
    opacity: 0.8;
    border: solid 0.2em  #3ec70b;
    border-radius: 0.5em;
}
textarea    {
    background-color: rgb(0, 0, 0);
    color: #3ec70b;
    opacity: 0.8;
    border: solid 0.2em  #3ec70b;
    border-radius: 0.5em;
}



/* NOSOTROS */
.conocenos    {
    width: 900px;
    margin: 1.2% 0% 0% 13% ;
    padding: 20px;
margin-top: 2%;
    border: solid 0.2em  #3ec70b;
    border-radius: 0.5em;


    color: #3ec70b;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    font-family: sans-serif;
}

.nosotros {
    margin: 0% 0% 0% 0%;
   
    color: #3ec70b;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconos-nosotros    {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.detalle   {
    margin: 0px 30px ;
    font-family: sans-serif;
    text-align: center;

}

.iconos-n   {
    border: solid 0.2em  #3ec70b;
    border-radius: 0.5em;
}


/* CONTACTO */
h2  {
    color: #3ec70b;
    font-family: sans-serif;
}

label   {
    color: #3ec70b;
    font-family: sans-serif;
}

button  {
    color: #3ec70b;
    background-color: black;
    opacity: 0.8;
    border: solid 0.2em #3ec70b;
    border-radius: 0.7em;

}

button:hover    {
    color: black;
    background-color:#3ec70b;
    opacity: 0.8;
    border:unset 0.2em rgb(0, 0, 0);
    border-radius: 0.7em ;
}
button:active   {
    color: #3ec70b;
    background-color: black;
    opacity: 0.8;
    border: solid 0.2em #3ec70b;
    border-radius: 0.7em;
}

.contacto   {
    display: inline
}

/* ubicacion de formulario */



.ubicacion-formulario   {
    background-color: black;
    opacity: 0.8;
    width: 300px;
    margin: 0% 0% 8.5% 38%;

    border: solid 0.1em #3ec70b;
    border-radius: 0.7em;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.titulo-contactos { 
    background-color: black;
    opacity: 0.8;
    width: 500px;
    margin: 2% 0% 1% 30%;

    border: solid 0.1em #3ec70b;
    border-radius: 0.7em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
         /* MOVILE FIRST ****DISEÑOS**** */
@media screen  and (max-width: 600px) {
    .grid-diseños   {
        display: grid;
        grid-template-areas: "menu "
                             "diseños "
                             "diseños "
                             "obras"
                             "footer ";
        grid-template-rows: 12% 25% 57% 100% 12%;
        grid-template-columns: 100%;                     
    }
    .grid-obras {display: none;} 
    .grid-casilleros    {
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 20%;
    }
    .galeria    {
        display: inline;
        margin-top: 50px;
    }
    .abertura     {
        width: 280px;
        height: 180px;
    }
    .vista  {
        width: 320px;
        height: 180px;
    }
    .interior   {
        width: 280px;
        height: 180px;
    }
    .casas  {
         width: 320px;
        height: 180px;}
    .ab { 
        font-size: 1.5rem;
        color:#bf7300;
    }
    .vi     {
        font-size: 1.5rem;
        color:#bf7300;
    }
    .in     {
        font-size: 1.5rem;
        color:#bf7300;
    }
    .ca     {
        font-size: 1.5rem;
        color:#bf7300;
    }
   body    {
    background-size:cover;
   }
   .header-grid {
    width: 100%;
   
   }
   nav  {
    width: 100%;
    height: 100%;
   }


.bur-input:checked + .navegacion    {
    background-color: #000000;
    opacity: 0.9;
}

.navegacion {
    display: inline;
    margin: auto;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;

}

.bur    {
    display: block;
    cursor: pointer;
}

.navegacion {
    position: fixed;
    width: 100%;
    top: 100px;
    bottom: 70px;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
}

.bur-input:checked + .navegacion    {
    clip-path: circle(100% at center);
}
.footer-grid    {
   position: fixed;
   padding: -10px 0px;
   margin-top: 160%;
}

.bur-input {
    display: none;
}

.casillero-4    {
    margin-bottom: 30%;
}
.casillero-1    {
    margin-top: 20px;
}
.logo-inicio    {
    margin-top: -100px;
}
.bur    {
    margin-top: 15px;
}
.Telefono-footer    {
    display: none;
}
.copy   {
    display: none;
}
.footer-grid    {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-end;
}
.ancla-footer svg  {
    width: 25px;
    height: 25px;
    padding: 0px 20px;

}

.ab {
    left: 0%;
}
.vi {
    left: 25%;
}
.in {
    right: 55%;
}
.ca {
    left: 25%;
}


@media screen and (min-width: 601px) and ( max-width: 1024px) {
    .grid-diseños   {
        display: grid;
    }

}

@media screen and ( min-width: 700px) and (max-width: 1200px) {
    .grid-diseños   {
        display: grid;
        grid-template-areas: "menu menu menu"
                             "diseños diseños obras"
                             "diseños diseños obras"
                             "footer footer footer";
        grid-template-rows: 100% 70% 70% 100% ;
        grid-template-columns: 70% 30%;                     
    }
   
} 
