    // variables
@import "./utilities/variables";

    // mixins
@import "./utilities/mixins";

    // reset
@import "./base/reset";

    // header
@import "./layout/header";

    // footer
@import  "./layout/footer";

    // main-del-inicio

    .centro-menu    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50PX;
    
        .visitanos  {
            color: #3ec70b;
            font-weight: bold;
            background-color: black;
            opacity: 0.8;
            width: 100%;
            border: solid 0.1em #3ec70b;
            border-radius: 0.7em;
        } 

        .ofi-text   {
            text-align: center;
        }
    
    
    .portada    {
        
        height: 400px;
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px  #3ec70b ;
    }
    
    iframe  {
        border-radius: 0.7em;
        box-shadow: 4px 4px 15px #3ec70b ;
        width: 100%;
      
    }
    }

    //   main-de-dise単os

    
.container-img {
    width: 90%;
    height: 100vh;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto 16.6%;
    grid-template-rows: 250px 250px;
    grid-gap: 20px;
    grid-column-gap: 50PX;

    .box-img .figure {
        width: 100%;
        height: 100%;
    }

    .box-img img     {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box-img:nth-child(3)    {
        grid-row-start: span 2; 
    }

    .ob a img{
        width: 100%;
        height: auto;
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
    }
    .ob a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .ab a img   {
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
    }
    .ab a img:hover {
    transform: scale(1.2, 1.2);    
    }
    .aberturas  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
    .in a img{
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
    }
    .in a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .interiores  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
    .vi a img{
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
    }
    .vi a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .vistas  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
    .ca a img{
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
        
    }
    .ca a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .casas  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
}

//    main-de-presupuestos

.medio-presup   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .flex-contain-presup    {
        width: 500px;
        height: auto;
        background-color: rgb(0, 0, 0);
        opacity: 0.8;
        margin-bottom: 60px;
        border: solid 0.1em #3ec70b;
        border-radius: 0.7em;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-presupuestos   {
        background-color: black;
        opacity: 0.8;
        width: 400px;
        color: #3ec70b;
    
    
        border: solid 0.1em #3ec70b;
        border-radius: 0.7em;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .boton-form {
        color: #3ec70b;
        background-color: black;
    }
    
    .boton-adjuntar {
        color: #3ec70b;
        background-color: black;
        width: 90%;
        height: auto;
    }
    
    /* formulacios-nombres */
    .text-form-presup    {
        color: #3ec70b;
        font-family: sans-serif;
        width:auto;
        height: auto;
        text-align: center;
    }
    
    /* formularios-recuadro */
    input {
        background-color: rgb(0, 0, 0);
        color: #3ec70b;
        opacity: 0.8;
        border: solid 0.2em  #3ec70b;
        border-radius: 0.5em;
    }
    select  {
        background-color: rgb(0, 0, 0);
        color: #3ec70b;
        opacity: 0.8;
        border: solid 0.2em  #3ec70b;
        border-radius: 0.5em;
    }
    textarea    {
        background-color: rgb(0, 0, 0);
        color: #3ec70b;
        opacity: 0.8;
        border: solid 0.2em  #3ec70b;
        border-radius: 0.5em;
        width: 90%;
    }
    
    button  {
        color: #3ec70b;
        background-color: black;
        opacity: 0.8;
        border: solid 0.2em #3ec70b;
        border-radius: 0.7em;
    
    }
    
    button:hover    {
        color: black;
        background-color:#3ec70b;
        opacity: 0.8;
        border:unset 0.2em rgb(0, 0, 0);
        border-radius: 0.7em ;
    }
    button:active   {
        color: #3ec70b;
        background-color: black;
        opacity: 0.8;
        border: solid 0.2em #3ec70b;
        border-radius: 0.7em;
    }
}

//    main-de-nosotros

.centro-nosotros    {
    margin-bottom: 40px;

    .conocenos    {
        width: 90%;
    
        padding: 20px;
        margin-top: 20px;
        border: solid 0.2em  #3ec70b;
        border-radius: 0.5em;
    
    
        color: #3ec70b;
        background-color: rgb(0, 0, 0);
        opacity: 0.8;
        font-family: sans-serif;
    }
    
    .nosotros {
    
       width: 100%;
        color: #3ec70b;
        background-color: rgb(0, 0, 0);
        opacity: 0.8;
       padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .iconos-nosotros    {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    .detalle   {
        font-family: sans-serif;
        text-align: center;
    
    }
    
    
    
    .iconos-n   {
        border: solid 0.2em  #3ec70b;
        border-radius: 0.5em;
    }
}

    // main-de-contacto

    .centro-contacto    {

        h2  {
            color: #3ec70b;
            font-family: sans-serif;
        }
        
        label   {
            color: #3ec70b;
            font-family: sans-serif;
        }
        
        button  {
            color: #3ec70b;
            background-color: black;
            opacity: 0.8;
            border: solid 0.2em #3ec70b;
            border-radius: 0.7em;
        
        }
        
        button:hover    {
            color: black;
            background-color:#3ec70b;
            opacity: 0.8;
            border:unset 0.2em rgb(0, 0, 0);
            border-radius: 0.7em ;
        }
        button:active   {
            color: #3ec70b;
            background-color: black;
            opacity: 0.8;
            border: solid 0.2em #3ec70b;
            border-radius: 0.7em;
        }
        
        .contacto   {
            display: inline
        }
        
        /* ubicacion de formulario */
        
        
        
        .ubicacion-formulario   {
            background-color: black;
            opacity: 0.8;
            width: 300px;
            margin-left: -30px;
        
            border: solid 0.1em #3ec70b;
            border-radius: 0.7em;
        
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }
        .titulo-contactos { 
            background-color: black;
            opacity: 0.8;
            width: 50%;
            text-align: center;
            border: solid 0.1em #3ec70b;
            border-radius: 0.7em;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        input {
            background-color: rgb(0, 0, 0);
            color: #3ec70b;
            opacity: 0.8;
            border: solid 0.2em  #3ec70b;
            border-radius: 0.5em;
        }
       
        textarea    {
            background-color: rgb(0, 0, 0);
            color: #3ec70b;
            opacity: 0.8;
            border: solid 0.2em  #3ec70b;
            border-radius: 0.5em;
            width: 90%;
        }
        
    }

    // REAPONSIVE

    @media screen and (max-width: 420px) {
        header {
            width: auto;
         }
// inicio
// header
.header-inicio{
    margin-right: 0;
}

        //   main
    .centro-menu    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .visitanos  {
            height: auto;
            width: 70%;
            margin-bottom: 7%;
        }
        
        
        .portada    {
            width: 100%;
            height: auto;
            margin-top: -20px;
            margin-bottom: 7%;
        }
        .ubicacion-oficina  {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .ofi-text   {
            margin-left: 15%;
            width: 100%;
        }
        .ubi            {
            width: 100%;
            height: auto;
        }
    }
    // footer
    footer  {
        width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display: contents ;
        }
    }
    
    // dise単os
    // header
    .heade-dise単os  {
        margin-right:0 ;
    }
    // main
    .container-img {
        width: 85%;
        height: 90vh;
        max-width: 1100px;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        .ob {
            display: none;
        }
    }
     // footer
     footer  {
        width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display: contents ;
        }
    }

    // presupuestos
// header
.header-presup  {
    width: auto;
    margin-right:0 ;
}
    // main
    .medio-presup  {
        width: 100%;
        
        .flex-contain-presup    {
            width: 90%;
            margin-bottom: 100PX;
        }
        .titulo-presupuestos  {
            width: 100%;
          }
      }
     // footer
     footer  {
        width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display: contents ;
        }
    }

    // nosotros
    //   header
    .nos    {
        width: auto;
        margin-right: 0;
    }
    // main
    .centro-nosotros    {
    .nosotros {
        display: none;
       }
    }
       // footer
     .footer-nosotros  {
        width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display: contents ;
        }
    }
    // contacto
    // header
    .header-contacto    {
        width: auto;
        margin-right: 0;
    }
    // main
    .centro-contacto    {

        .titulo-contactos  {
            width: auto;
         }
        .ubicacion-formulario   {
            width: auto;
        }
    }
     // footer
     footer  {
        width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display: contents ;
        }
        position: fixed;
    }
}

@media screen and (min-width: 421px) and (max-width: 920px) {
  
    // inicio
     //   main
     .centro-menu    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .visitanos  {
            height: auto;
            width: 70%;
            margin-bottom: 7%;
        }
        
        
        .portada    {
            width: 100%;
            height: auto;
            margin-top:10px;
            margin-bottom: 7%;
        }
        .ubicacion-oficina  {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        .ofi-text   {
            margin-left: 15%;
            width: 100%;
        }
        .ubi            {
            width: 100%;
            height: auto;
            margin-bottom: 100px;
        }
    }
    
    // footer
    footer  {
        justify-content: space-evenly;
        padding: 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display:contents ;
        }
    }

    // dise単os
//   main
.container-img {
    width: 80%;
    height: 90vh;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    .ob {
        display: none;
    }

    
.ab a img:hover {
    transform: scale(1.2, 1.2);    
    }
    .aberturas  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
    .in a img{
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
    }
    .in a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .interiores  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
    .vi a img{
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
    }
    .vi a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .vistas  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
    
    .ca a img{
        border-radius: 0.9em;
        box-shadow: 4px 4px 15px #3ec70b ;
        transition: all 0.2s;
        margin-bottom: 100px;
    }
    .ca a img:hover {
        transform: scale(1.2, 1.2);    
        }
    .casas  {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        color: #3ec70b;
        text-decoration: none;
    }
}

//  footre
    footer  {
        justify-content: space-evenly;
        padding: 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display:contents ;
        }
    }

    // presupuestos
    // main
    .medio-presup  {
        width: 100%;
        
        .flex-contain-presup    {
            width: 90%;
            margin-bottom: 100PX;
        }
        .titulo-presupuestos  {
            width: 100%;
          }
      }
    //  footre
    footer  {
        justify-content: space-evenly;
        padding: 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
        .ancla-footer svg   {
            height: auto;
            width: 35px;
         }
         .Telefono-footer    {
            display: none;
        }
        .copy   {
            display: none;
        }
        .icon-redes {
            display:contents ;
        }
    }

    // nosotros
    // header
    .nos    {
        width: 100%;
        margin: 0;
    }
    // main
 .centro-nosotros    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nosotros {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      @media (max-width: 620px)   {
    .nosotros   {
        column-gap: 100px;
    }}
    }
    
    // contaco
    // main
    .centro-contacto    {

        .titulo-contactos  {
            width: 100%;
         }
    }
   //  footre
 footer  {
    justify-content: space-evenly;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    .ancla-footer svg   {
        height: auto;
        width: 35px;
     }
     .Telefono-footer    {
        display: none;
    }
    .copy   {
        display: none;
    }
    .icon-redes {
        display:contents ;
    }
}

}
body    {
    margin: 0;
    padding: 0;
    background: url(../img/vista1.jpg);   
    background-size:cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: relative;
    }   
 